{% import "_macros.j2" as macros %}
# Attributes: `{{ ctx.root_namespace }}`

This document describes the `{{ ctx.root_namespace }}` attributes.

{% for attribute in ctx.attributes %}
## `{{ attribute.key }}` {{ macros.stability_badge(attribute.stability, attribute.deprecated) }}

{{ attribute.brief | trim }}

{% if attribute.note %}{{ attribute.note | trim }}{% endif %}

{% if attribute.examples %}**Examples**: `{{ attribute.examples | join("`, `") }}`{% endif %}

**Type**: {% if attribute is enum %}enum{% else %}`{{ attribute.type }}`{% endif %}

{% if attribute is enum and attribute.type.members %}

| Value | Description |
|-------|-------------|
{% for member in attribute.type.members %}| `{{ member.value }}` | {{ member.brief | default() | trim }} |
{% endfor %}

{% endif %}
{% endfor %}
