{% import "_macros.j2" as macros %}
# Spans: `{{ ctx.root_namespace }}`

This document describes the `{{ ctx.root_namespace }}` spans.

{% for span in ctx.spans | sort(attribute="type") %}
## `{{ span.type }}` {{ macros.stability_badge(span.stability, span.deprecated) }}

{{ span.brief | trim }}

{% if span.note %}{{ span.note | trim }}

{% endif %}
**Kind**: `{{ span.kind }}`

**Name**: `{{ span.name.note }}`

{% if span.attributes %}
### Attributes

{{ macros.attribute_table(span.attributes) }}
{% endif %}
{% endfor %}
